.background{
    -fx-background-image: url("../Backgrounds/BlueBackground.png");
}

.schemePresenterBackground{
    -fx-background-color: gray;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.schemeViewPresenter{
    -fx-graphic-size: 100% 100%;
}

.generationNumberPresenter{
    -fx-background-color: white;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}